* {
  background-color: rgb(240, 236, 231);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 

body {
  font-size: 100%;
}

input:focus{
	outline:0px;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




/* ------------------------------------------- ADMIN LIST  */

.adminList__main{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.adminList__main button{
  
  width: 100px;
  height: 30px;
  margin: 10px;
  border: solid black 1px;
  background-color: rgb(82, 82, 82);
  color: white;
  
}

/* ------------------------------------------- ADMIN */
.admin__text {
  margin: 20px;
}